@import "../../styles/variables.less";
@import "../../styles/mixins.less";
@import "../../styles/colors.less";

.landing {
  .gradient();
  .vertical-center();
  height: 100%;

  &__content {
    padding-top: 10em;
    padding-bottom: 2em;
    max-width: @landing-width;
  }

  &__text {
    margin-right: 2em;
  }

  &__btn {
    width: calc(100% - 40px);
    border-radius: 6px !important;
  }


  .breakpoint(@xs, {
      &__content {
        padding: 2em 0.5em 2em 0.5em;
        text-align: center;
        overflow-y: auto;
      }

      &__coltext {
        order: 2
      }

      &__colimg {
        order: 1;
        margin-bottom: 0.5em;
      }

      &__text {
        margin-right: 0;
      }

      &__h {
        font-size: 24px;
      }

      &__p {
        font-size: 16px;
      }

      &__img {
        width: 100%;
      }
    }

  );
}