@import "../../styles/variables.less";
@import "../../styles/mixins.less";
@import "../../styles/colors.less";

.landing {
  .gradient();
  .vertical-center();
  height: 100%;

  &__content {
    padding-top: 10em;
    padding-bottom: 2em;
    width: @landing-width;
  }

  &__text {
    margin-right: 2em;
  }

  &__btn {
    width: calc(100% - 40px);
    border-radius: 6px !important;
  }

}