.vertical-center() {
  display: flex;
  align-items: center;
}

.horizontal-end() {
  display: flex;
  justify-content: flex-end;
}

.horizontal-center() {
  display: flex;
  justify-content: center;
}